<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card class="card">
    <form [formGroup]="loginForm" (submit)="submit()">
      <mat-card-content fxLayout="column">
        <h2>Log In</h2>

        <mat-form-field>
          <input
            matInput
            placeholder="E-mail"
            name="email"
            formControlName="email"
            required
          />
          <mat-error ngx-mat-errors></mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            formControlName="password"
            required
          />
          <mat-error ngx-mat-errors></mat-error>
        </mat-form-field>

        <mat-error *ngIf="false">
          The username and password were not recognized
        </mat-error>
      </mat-card-content>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
</div>
