/* You can add global styles to this file, and also import other style files */

@import './app/shared/material/light-theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.btn-with-icon {
  div {
    display: flex;
    align-items: center;

    span {
      margin: auto 10px;
    }
  }
}

#container {
  width: 90%;
  height: 75%;
  margin: 3% auto;

  #header {
    margin: 5px 0 20px;

    #title {
      font-size: 25px;
    }
  }

  #painel {
    height: 83%;
    padding: 30px;
  }

  .btn-rounded {
    border-radius: 18px !important;
  }
}
